.form {
    padding-top: 100px;
    .form-element {
        height: 40px;
        margin: 0 auto;
        padding: 7px;
        width: 60%;
        label, input {
            color: $primary;
            display: inline-block;
        }
        label {
            transform: translateY(10px);
            width: 35%
        }
        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $secondary;
            color: $primary;
            height: 30px;
            width: 65%;
            &:focus {
                outline: none;
            }
        }
    }
    button {
        @extend %btn;
    }
}
%btn {
    background-color: #B5CD60;
    border: none;
    border-radius: 4px;
    color: white;
    display: block;
    font-family: $btnFont;
    height: 40px;
    width: 100px;
}

