doctype html
html(lang="en")
    head
        include ./common/headElements.jade
        title Chat
    body
        header
            h1 Chat
        #main
        script(src="assets/js/chat/app.js")
