doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title React/Flux
        script(src="assets/js/lib.js")
    body
        header
            h1 Login
        #main
        script(src="assets/js/login/app.js")
