doctype html
html(lang="en")
    head
        include ./common/headElements.jade
        title Login
    body
        header
            h1 Login
        #main
        script(src="assets/js/login/app.js")
