doctype html
html(lang="en")
    head
        include ./common/headElements.jade
        title Signup
    body
        header
            h1 Signup
            a(href='/login') Goto Login
        #main
        script(src="assets/js/signup/app.js")
